* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  height: 100%;
}

.bg {
  background-image: url("Images/BG-Home.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

#logo {
  width: 50%;
  height: 50%;
}

.navbar {
  background-color: yellow;
  width: 100%;
}

#navImg {
  padding: 5%;
  width: 20%;
  height: 20%;
}

#introVid video {
  display: block;
  width: 100%;
  object-fit: fill;
}

.promoImgs,
.reviewImgs {
  display: flex;
  align-items: center;
  border: 2px solid black;
}

.promoImgs img {
  width: 50%;
  height: 50%;
}

.mainHeader {
  border: 2px solid black;
  background-color: green;
  text-align: center;
}

.promoImgs figcaption {
  padding-left: 2%;
}

.reviewImgs img {
  width: 200px;
  height: 200px;
}

.osImgs img {
  width: 300px;
  height: 500px;
}

.carousel-caption {
  bottom: -95px;
}

.carousel-inner {
  padding-bottom: 95px;
}

#socialmedialinks figure img {
  width: 15%;
  height: 15%;
}

#xsSML img {
  width: 50px;
  height: 50px;
}

#address figure {
  display: flex;
  align-items: center;
  margin-left: 30%;
}

#address figure img {
  width: 35%;
  height: 35%;
}

.footHeader {
  margin-top: 5px;
}

.linkCon {
  font-weight: bold;
}

#xsSML img {
  width: 10%;
  height: 0%;
}
