/*General webpage styling*/
* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  height: 100%;
}

.bg {
  background-image: url("Images/BG-Home.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

/*Navigation bar styling*/
#logo {
  width: 50%;
  height: 50%;
}

.navbar {
  background-color: yellow;
  width: 100%;
}

#navImg {
  padding: 5%;
  width: 20%;
  height: 20%;
}

/*Introduction video styling*/
#introVid video {
  display: block;
  width: 100%;
  object-fit: fill;
}

/*Main content styling*/
.promoImgs,
.reviewImgs {
  display: flex;
  align-items: center;
  border: 2px solid black;
}

.promoImgs {
  background-color: white;
}

.promoImgs img {
  width: 50%;
  height: 190px;
}

.mainHeader {
  border: 2px solid black;
  background-color: skyblue;
  text-align: center;
}

.reviewImgs img {
  width: 200px;
  height: 200px;
}

.osImgs img,
.rcImgs img {
  width: 100px;
  height: 500px;
}

.carousel-caption {
  bottom: -95px;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 10px;
}

.carousel-inner {
  padding-bottom: 95px;
}

.carousel-indicators li {
  background-color: gray;
  height: 10px;
  width: 10px;
  z-index: 5 !important;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
}
.carousel-indicators li.active {
  background-color: white;
  height: 10px;
  width: 10px;
  z-index: 5 !important;
  padding: 0 5px;
  cursor: pointer;
}

.flip-card {
  width: 100%;
  height: 300px;
  perspective: 1000px;
  margin-bottom: -104px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 190px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: white;
  color: white;
  transform: rotateY(180deg);
}

/*Footer styling*/
.SMLImgs img {
  width: 15%;
  height: 15%;
}

.xsSML img {
  width: 10%;
  height: 0%;
}

#address figure {
  display: flex;
  align-items: center;
  margin-left: 30%;
}

#address figure img {
  width: 35%;
  height: 35%;
}

.footHeader {
  margin-top: 5px;
}

.linkCon {
  font-weight: bold;
}

.carousel-indicators {
  bottom: 100px;
}

.footer {
  background-color: maroon;
  color: white;
}
