* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  height: 100%;
}

.bg {
  background-image: url("Images/BG-Rides.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

#logo {
  width: 50%;
  height: 50%;
}

.navbar {
  background-color: yellow;
  width: 100%;
}

#navImg {
  padding: 5%;
  width: 20%;
  height: 20%;
}

.linkCon {
  font-weight: bold;
}

#titleImg img {
  width: 100%;
  height: 100%;
}

#socialmedialinks figure img {
  width: 15%;
  height: 15%;
}

#xsSML img {
  width: 50px;
  height: 50px;
}

#address figure {
  display: flex;
  align-items: center;
  margin-left: 30%;
}

#address figure img {
  width: 35%;
  height: 35%;
}

.footHeader {
  margin-top: 5px;
}

.linkCon {
  font-weight: bold;
}

#xsSML img {
  width: 10%;
  height: 0%;
}

.image {
  opacity: 1;
  display: block;
  width: 1%;
  height: cover;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 2%;
  right: 2%;
  //transform: translate(-50%, -50%);
  //-ms-transform: translate(-50%, -50%);
  text-align: center;
}

.column:hover .image {
  opacity: 0.8;
}

.column:hover .middle {
  opacity: 1;
}

.text {
  opacity: 1;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-size: 20px;
  padding: 5px 5px;
}

@media screen and (max-width: 600px) {
  .text {
    opacity: 1;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 10px;
    padding: 5px 5px;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
