* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  height: 100%;
}

#logo {
  width: 50%;
  height: 100%;
}

.navbar {
  background-color: yellow;
  width: 100%;
}

#navImg {
  padding: 5%;
  width: 20%;
  height: 20%;
}

.linkCon {
  font-weight: bold;
}

#ticketImg {
  width: 70%;
  height: 10%;
  text-align: center;
}

.paymentImgs {
  width: 60px;
  height: 60px;
}

.SMLImgs img {
  width: 15%;
  height: 15%;
}

.xsSML img {
  width: 10%;
  height: 0%;
}

#address figure {
  display: flex;
  align-items: center;
  margin-left: 20%;
}

#address figure img {
  width: 40%;
  height: 40%;
  padding-right: 2%;
}

.tInfo {
  opacity: 70%;
}

.footer {
  background-color: maroon;
  color: white;
}