*{
  box-sizing: border-box;
}

body
{
background: lightblue;
}

h1
{
  text-align: center;
  font-family: Tahoma, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
}

/* awards and reviews*/
#awardsReviews dt dd
{
  text-align: center;
  font-family: Tahoma, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #8B0000;
}

.foodinfo
{
  margin: 55px;
 border: 1px solid #ccc;
 float: left;
 width: 180px;
}
/* Navigation Bar Styling */
<<<<<<< HEAD
.Nb ul li
{
  text-align: center;
=======
.NB{
  width:100%;
}

.NB figure img{
  display: inline-block;
  width: ;
}

.NB ul li{
>>>>>>> d10fb3718c20214292c4d91a4d92f6f683a7b413
  display:inline-block;
  background-color:	#1E90FF;
}
/*End of Navigation Bar Styling*/

/* Footer Styling */
footer
{
  background-color: #8B0000;
  font-style: italic;
  font-family: Tahoma, Helvetica, sans-serif;
  color:white;
  bottom: 0;
}

.fheader
{
  display: inline-block;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  align-items: center;
}

.flabel
{
  display: inline-block;
  vertical-align: super;
}
