body{
  background: lightblue;
}

/* TicketCategory */
.ticketcategory{
   text-align: center;
   /* margin-right: 250px; */
   font-family: Helvetica, Tahoma, sans-serif;
   color: black;
}

/* Position of TicketCategory */
dt{
  text-align: left;
  padding-left: 40px;
}

/* Position of TicketPrice */
span{
  position: relative;
  /* left:100px; */
  bottom: 22px;
}

/* Input boxes Design */
input[type="date"], input[id="Quantity"]{
  height: 20px;
  align-items: center;
}

/* Calendar position */
input[type="date"]{
  position: relative;
  left: 450px;
}


label[for="date"]{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  width: 570px;
}

/* Navigation bar styling */
/* Navigation Bar Styling */
.main-menu{
  background-color: #FFFF00;
  background-image: none;
  color: #000;
  border: 1px black blue;
  position: relative;
  z-index: 1;
  height:100px;
}

.NB figure a img{
  width:40%;
  padding: 15px 2em;
}

.NB figure{
  display: flex;
  justify-content: space-between;
}

.NB ol{
  display: flex;
  justify-content: flex-end;
  padding: 10px 2em;
  position: relative;
}

.NB ol li{
   list-style: none;
   margin-right: 50px;
   font-weight: bold;
   font-size: 1.5em;
}

.NB ol li:hover{
  background-color: red;
  cursor: pointer;
}

/*End of Navigation Bar Styling*/

/* Footer Stylying */
footer {
    background-color: #8B0000;
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
    font-style: italic;
    font-family: Tahoma, Helvetica, sans-serif;
    color: white;
  }


.fheader{
  display: inline-block;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  align-items: center;
}

.flabel{
  display: inline-block;
  vertical-align: super;
}
